# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docview

# Build 
bin/
obj/
out/

# NuGet
*.nupkg
packages/
project.lock.json
project.fragment.lock.json
artifacts/

# .NET
*.dll
*.exe
*.pdb
*.cache

# SQLite DB 
*.db
*.db-shm
*.db-wal
*.sqlite

~$*.xlsx

*.log

# OS
.DS_Store
Thumbs.db
desktop.ini

temp/
tmp/
